@font-face {
  font-family: "Patua";
  src: url(./fonts/PatuaOne-Regular.ttf);
}

@font-face {
  font-family: "Orbitron";
  src: url(./fonts/Orbitron-VariableFont_wght.ttf);
}

body{
  margin: 0;
  padding: 0;
}

.nav{
  box-sizing: border-box;
  background-color: #0A2E36;
  width: 100vw;
  height: 15vh;
  padding: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Patua", sans-serif;
}

.link{
  text-decoration: none;
  color: white;
  font-size: 38px
}

.link:hover{
  color: rgba(240, 233, 233, 0.548)
}

.right-links,
.left-links{
  display: flex;
  gap: 40px;
  align-items: center;
}

.logo{
 filter: invert(1);
 height: 72px;
}

.sidebar{
  box-sizing: border-box;
  width: 20vw;
  background-color: grey;
  height: 85vh;
  padding: 80px 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.page-content{
  display: flex;
}

.sidebar-link{
  text-decoration: none;
  font-size: 24px;
  color: black;
  font-family: "Orbitron", sans-serif;
}

.sidebar-link:hover{
  color: white;
}