@font-face {
  font-family: "Patua";
  src: url(./fonts/PatuaOne-Regular.ttf);
}

@font-face {
  font-family: "Orbitron";
  src: url(./fonts/Orbitron-VariableFont_wght.ttf);
}

@font-face {
  font-family: "Tilt-warp";
  src: url(./fonts/TiltWarp-Regular-VariableFont_XROT\,YROT.ttf);
}

@font-face {
  font-family: "Lato";
  src: url(./fonts/Lato-Black.ttf);
}

body{
  margin: 0;
  padding: 0;
  background-color: #083D77;
}

.nav{
  box-sizing: border-box;
  background-color: #0A2E36;
  width: 100vw;
  height: 15vh;
  padding: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Patua", sans-serif;
}

.link{
  text-decoration: none;
  color: white;
  font-size: 38px
}

.link::selection,
img::selection{
  background: none;
}

.link:hover{
  color: rgba(240, 233, 233, 0.548)
}

.right-links,
.left-links{
  display: flex;
  gap: 40px;
  align-items: center;
}

.logo{
 filter: invert(1);
 height: 72px;
}

.sidebar{
  box-sizing: border-box;
  width: 20vw;
  background-color: grey;
  height: 85vh;
  padding: 80px 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.page-content{
  display: flex;
}

.sidebar-link{
  text-decoration: none;
  font-size: 24px;
  color: black;
  font-family: "Orbitron", sans-serif;
}

.sidebar-link:hover{
  color: white;
}

.logo-link{
  display: flex;
  align-items: center;
  gap: 20px;
}

.home{
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}

.home-heading,
.contact-heading{
  color: white;
  font-size: 48px;
  margin-bottom: 5px;
  font-family: "Tilt-warp", sans-serif;
  font-weight: 400;
}

.intro{
  text-align: center;
  font-size: 24px;
  color: white;
  width: 70vw;
  font-family: "Lato", sans-serif;
}

.stadium-img,
.lots-of-shirts-img{
  width: 300px;
  border: 5px solid #635D5C;
  border-radius: 10px;
}

.shirts-img-container{
  display: flex;
  align-items: center;
  margin-top: 20px;
  gap: 20px;
}

.shirts-caption{
  color: white;
  font-size: 32px;
  font-style: italic;
  font-family: "Lato", sans-serif;
}

.homepage-grid{
  display: grid;
  grid-template-rows: 50px 1fr;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
  align-items: center;
  margin-bottom: 20px;
}

.homepage-grid-heading{
  grid-row: 1;
  font-family: "Lato", sans-serif;
  color: white;
  font-size: 22px;
}

.homepage-grid-img{
  grid-row: 2;
  height: 200px;
  border: 5px solid #635D5C;
  border-radius: 10px;
}

.contact{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.map{
  border: 5px solid #635D5C;
  border-radius: 10px;
  height: 20rem;
}

.address{
  color: white;
  margin: 5px;
  font-weight: bold;
  font-family: "Lato", sans-serif;
  font-size: 18px;
}

.social-media{
  display: grid;
  grid-template-rows: 100px 1fr;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
}

.social-media-icon{
  grid-row: 1;
  height: 100px;
  filter: invert(1);
  
}

.social-media-heading{
  grid-row: 2;
  color: white;
  font-family: "Lato", sans-serif;
}

.item{
  background-color: white;
  border-radius: 20px;
  margin: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.item-heading,
.item-price{
  font-family: "Lato", sans-serif;
}

.item-link{
  font-family: "Lato", sans-serif;
  background-color: grey;
  padding: 20px;
  text-decoration: none;
  margin-bottom: 10px;
  color: black;
}

.item-link:hover{
  background-color: black;
  color: white;
}

.item-img{
  height: 200px;
}

.products-grid{
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(2, 1fr);
}

.product-page{
  background-color: white;
  height: 48rem;
  width: 32rem;
  border-radius: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  box-sizing: border-box;
}

.product-page h1{
  font-family: "Lato", sans-serif;
}

.product-page img{
  height: 20rem;  
}

.product-page p{
  font-family: "Patua", sans-serif;
  font-size: 4rem;

}

.product-container{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.quantity{
  display: flex;
  gap: 10px;
}

.increment,
.decrement,
.back-button{
  background-color: white;
  font-size: 24px;
  outline: none;
  border: 1px solid black;
  width: 32px;
  height: 32px;
}

.increment:hover,
.decrement:hover,
.back-button:hover{
  background-color: black;
  color: white;
  cursor: pointer;
}

.add-item,
.checkout,
.remove{
  background-color: white;
  font-size: 24px;
  outline: none;
  border: 1px solid black;
  width: 240px;
  height: 32px;
  margin-top: 15px;
  font-family: "Lato", sans-serif;
}

.add-item:hover,
.checkout:hover,
.remove:hover{
  background-color: black;
  color: white;
  cursor: pointer;
}

.back-button{
  margin-right: auto;
}

.basket-icon{
  filter: invert(1);
  cursor: pointer;
}

.basket{
  display: flex;
}


.basket-text{
  color: white;
  font-family: "Lato", sans-serif;
}

.basket-link{
  display: flex;
  justify-content: center;
  align-items: center;
}

.basket-icon:hover,
.logo:hover{
  filter: invert(0.5);
}

.basket-page{
  background-color: white;
  border-radius: 10rem;
  margin: 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.basket-item{
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-bottom: 4rem;
  padding-bottom: 2rem;
  border-bottom: 1px solid grey;
}

.basket-item img{
  height: 8rem;
  grid-column: 1;
}
.basket-item *{
  grid-column: 2;
  font-family: "Lato", sans-serif;
}

.basket-item p{
  font-style: italic;
}

.basket-title{
  font-size: 3rem;
  font-family: "Patua", sans-serif;
}

.checkout{
  margin-bottom: 4rem;
}

.remove{
  font-size: 1rem;
}